body {
    background: #f9f9f9;
}

#container {
     margin: 0 auto;
}
.jumbotron{
    border-radius: 15px;
}
h1, h2{
    padding:2px; 
    margin-left: 40%;
}
#usernameForm{
    width:400px; 
    height: 200px;
}
#username,#chatRoomOptions{
    align-items:center;
    width: 250px;
}
#namesWrapper {
 
    margin-left: 40%;
   
    width: 400px;
}

#mainWrapper {
    margin-left: 20px;
    display: none;
}

#chatroom {
    float: left;
    border: 1px #ccc solid;
    margin-left: 20px;
    border-radius: 15px;
    background: #ffffff;
    padding: 10px;
    overflow-y: scroll;
    height:400px ;
    max-height: 400px;
  
   
}

#message {
    margin-left: 20px;
}

#users {
    float: left;
    border: 1px #ccc solid;
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
    margin-left: 20px;
    width: 150px;
    max-height: 200px;
}

#userList {
    float: left;
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
    margin-left: 20px;
}

input {
    height: 30px;

    border: solid 1px #ccc;

}

.message:nth-child(even) {
    background:rgb(55, 150, 223);
    padding:10px;
    text-align:right;
    color:#fff;
    margin:5px;
    width:50%;
    float:right;
  margin-right: 30px;
  border-radius: 15px;
}

.message:nth-child(odd) {
    background:rgb(62, 63, 65);
    padding:10px;
    margin:5px;
    color:#fff;
     width:50%;
    float:left;
  margin-left: 30px;
  border-radius: 15px;
}