body {
    background-color: rgb(160, 163, 168);
    width:1000px; ;
}

#chatroom {
    border: 1px solid rgba(31, 31, 34, 0.322);
    height: 500px;
    margin: 5px;
    box-sizing: border-box;
    background-color: whitesmoke;

}

#mainWrapper{
    display: none;
}
h1 {
    text-align: center;
    width: 400px;
    /* color: whitesmoke; */
}

#users {
  
    height: 500px;
    margin: 5px;
    box-sizing: border-box;
    background-color: whitesmoke;

    border: 1px solid rgba(31, 31, 34, 0.322);
}

#message {
    box-sizing: border-box;
    background-color: whitesmoke;
}

#send_message {
 
    box-sizing: border-box;

}

section {
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
    
}

.container-fluid {
      margin: 20px;
  /*background-color: rgba(78, 78, 78, 0.486); */
}
.message:nth-child(even) {
    background-color: rgb(189, 193, 194, 0.507);
}

.message:nth-child(odd) {
    background-color: rgba(103, 115, 128, 0.507);
}